* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-family: Cormorant_Garamond;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #000;
  background: #fff;
  text-rendering: optimizeLegibility;
}

.container {
  margin: auto;
  padding: 0 1rem;
  max-width: 71.25rem;
  width: 100%;
}

button {
  padding: 1px 6px;
}

.hideForMobile {
  display: unset;
}

nav {
  padding: 4.5rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav li {
  font-size: 1.25rem;
}

nav li:nth-last-child(1) {
  margin: 0;
}

nav .active {
  color: #000 !important;
}

ul {
  padding: 0;
}

ul li {
  margin: 0 1.5rem 0 0;
  list-style: none;
}

ul a {
  color: #787878;
  text-decoration: none;
}

ul a:hover {
  color: #000;
}

a {
  text-decoration: none;
}

.title {
  display: block;
  font-size: 1.75rem;
  color: #333;
}

footer {
  margin-top: auto;
  width: 100%;
  padding: 1rem 0;
  background: #f7f7f7;
  text-align: center;
  font-style: italic;
}

footer li:nth-last-child(1) {
  margin: 0;
}

.copyright {
  margin: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.social {
  margin: 1rem;
}

.social li {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: Cormorant_Garamond;
  src: url(fonts/cormorantgaramond-light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Cormorant_Garamond;
  src: url(fonts/cormorantgaramond-lightitalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Cormorant_Garamond;
  src: url(fonts/cormorantgaramond-regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Cormorant_Garamond;
  src: url(fonts/cormorantgaramond-italic.ttf);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Cormorant_Garamond;
  src: url(fonts/cormorantgaramond-medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Cormorant_Garamond;
  src: url(fonts/cormorantgaramond-mediumitalic.ttf);
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Cormorant_Garamond;
  src: url(fonts/cormorantgaramond-semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Cormorant_Garamond;
  src: url(fonts/cormorantgaramond-semibolditalic.ttf);
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Cormorant_Garamond;
  src: url(fonts/cormorantgaramond-bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Cormorant_Garamond;
  src: url(fonts/cormorantgaramond-bolditalic.ttf);
  font-weight: 700;
  font-style: italic;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid > [class*="column-"] {
  display: block;
}

.first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.last {
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12;
}

.align-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.column-xs-1 {
  -ms-flex-preferred-size: 8.3333333333%;
      flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.column-xs-2 {
  -ms-flex-preferred-size: 16.6666666667%;
      flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.column-xs-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}

.column-xs-4 {
  -ms-flex-preferred-size: 33.3333333333%;
      flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.column-xs-5 {
  -ms-flex-preferred-size: 41.6666666667%;
      flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.column-xs-6 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  max-width: 50%;
}

.column-xs-7 {
  -ms-flex-preferred-size: 58.3333333333%;
      flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.column-xs-8 {
  -ms-flex-preferred-size: 66.6666666667%;
      flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.column-xs-9 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%;
}

.column-xs-10 {
  -ms-flex-preferred-size: 83.3333333333%;
      flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.column-xs-11 {
  -ms-flex-preferred-size: 91.6666666667%;
      flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.column-xs-12 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  max-width: 100%;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .grid > [class*="column-"] {
    margin: 0;
    max-width: 100%;
  }
  .gallery .grid {
    grid-gap: 1rem;
  }
  .column-xs-1 {
    -ms-grid-column: span 1;
        grid-column-start: span 1;
    -ms-grid-column-span: 1;
        grid-column-end: span 1;
  }
  .column-xs-2 {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
    -ms-grid-column-span: 2;
        grid-column-end: span 2;
  }
  .column-xs-3 {
    -ms-grid-column: span 3;
        grid-column-start: span 3;
    -ms-grid-column-span: 3;
        grid-column-end: span 3;
  }
  .column-xs-4 {
    -ms-grid-column: span 4;
        grid-column-start: span 4;
    -ms-grid-column-span: 4;
        grid-column-end: span 4;
  }
  .column-xs-5 {
    -ms-grid-column: span 5;
        grid-column-start: span 5;
    -ms-grid-column-span: 5;
        grid-column-end: span 5;
  }
  .column-xs-6 {
    -ms-grid-column: span 6;
        grid-column-start: span 6;
    -ms-grid-column-span: 6;
        grid-column-end: span 6;
  }
  .column-xs-7 {
    -ms-grid-column: span 7;
        grid-column-start: span 7;
    -ms-grid-column-span: 7;
        grid-column-end: span 7;
  }
  .column-xs-8 {
    -ms-grid-column: span 8;
        grid-column-start: span 8;
    -ms-grid-column-span: 8;
        grid-column-end: span 8;
  }
  .column-xs-9 {
    -ms-grid-column: span 9;
        grid-column-start: span 9;
    -ms-grid-column-span: 9;
        grid-column-end: span 9;
  }
  .column-xs-10 {
    -ms-grid-column: span 10;
        grid-column-start: span 10;
    -ms-grid-column-span: 10;
        grid-column-end: span 10;
  }
  .column-xs-11 {
    -ms-grid-column: span 11;
        grid-column-start: span 11;
    -ms-grid-column-span: 11;
        grid-column-end: span 11;
  }
  .column-xs-12 {
    -ms-grid-column: span 12;
        grid-column-start: span 12;
    -ms-grid-column-span: 12;
        grid-column-end: span 12;
  }
}

.specialImg {
  margin-top: 20px;
}

.specialImg img {
  height: 600px;
}

.indexTitle {
  margin-bottom: 3rem;
  text-align: center;
}

.dimmed {
  position: relative;
}

.dimmed:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.gallery {
  padding: 0 0 4rem 0;
}

.tile {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.scale-anm {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.filtre {
  text-align: right;
}

.toolbar {
  display: none;
  overflow: hidden;
}

.buton_mare {
  font-family: Cormorant_Garamond;
  font-size: 1rem;
  margin: 0 0 1rem 0;
  font-weight: 300;
  background-color: #f7f7f7;
  border: none;
  cursor: pointer;
}

.buton_mare:focus {
  outline: none;
}

.buton {
  font-family: Cormorant_Garamond;
  font-size: 1rem;
  margin: 0 0 1rem 0;
  font-weight: 300;
  background-color: #f7f7f7;
  border: none;
  cursor: pointer;
}

.buton:hover {
  text-shadow: 0 0 0.01px black;
}

.buton:focus {
  outline: none;
}

.butonactiv {
  text-shadow: 0 0 0.01px black;
}

figure {
  margin: 0;
}

.img-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scrollUpBtn {
  margin: 2rem 0 1rem;
  display: none;
  font-size: 1.2rem;
}

.formatare_text {
  text-indent: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.text {
  height: 650px;
}

.order1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.order2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media screen and (max-width: 62rem) {
  .specialImg {
    margin-top: 0px;
  }
  .dream-container {
    margin: 3em 1em 0 1em;
  }
  .scrollUpBtn {
    display: inline-block;
  }
  nav {
    padding: 1.5rem 0 1.5rem 1.5rem;
  }
  nav ul {
    padding-top: 3rem;
    padding-left: 2rem;
  }
  .title {
    -webkit-margin-before: 0.3em;
            margin-block-start: 0.3em;
    -webkit-margin-after: 0em;
            margin-block-end: 0em;
  }
  .indexTitle {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .gallery {
    padding: 0 0 2rem 0;
  }
  .img-container {
    height: 100%;
  }
  .img-container img {
    height: unset;
  }
  .img-content {
    display: block;
    padding: 1rem 0;
  }
  img {
    -webkit-transition: none;
    transition: none;
    height: unset;
  }
  img:hover {
    -webkit-transform: none;
            transform: none;
  }
  .specialImg img {
    height: unset;
  }
  .order1 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .order2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .hideForMobile {
    display: none !important;
  }
}

@supports (display: grid) {
  @media (min-width: 62rem) {
    nav ul {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
    }
    .column-md-1 {
      -ms-grid-column: span 1;
          grid-column-start: span 1;
      -ms-grid-column-span: 1;
          grid-column-end: span 1;
      -ms-flex-preferred-size: 8.3333333333%;
          flex-basis: 8.3333333333%;
      max-width: 8.3333333333%;
    }
    .column-md-2 {
      -ms-grid-column: span 2;
          grid-column-start: span 2;
      -ms-grid-column-span: 2;
          grid-column-end: span 2;
      -ms-flex-preferred-size: 16.6666666667%;
          flex-basis: 16.6666666667%;
      max-width: 16.6666666667%;
    }
    .column-md-3 {
      -ms-grid-column: span 3;
          grid-column-start: span 3;
      -ms-grid-column-span: 3;
          grid-column-end: span 3;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
      max-width: 25%;
    }
    .column-md-4 {
      -ms-grid-column: span 4;
          grid-column-start: span 4;
      -ms-grid-column-span: 4;
          grid-column-end: span 4;
      -ms-flex-preferred-size: 33.3333333333%;
          flex-basis: 33.3333333333%;
      max-width: 33.3333333333%;
    }
    .column-md-5 {
      -ms-grid-column: span 5;
          grid-column-start: span 5;
      -ms-grid-column-span: 5;
          grid-column-end: span 5;
      -ms-flex-preferred-size: 41.6666666667%;
          flex-basis: 41.6666666667%;
      max-width: 41.6666666667%;
    }
    .column-md-6 {
      -ms-grid-column: span 6;
          grid-column-start: span 6;
      -ms-grid-column-span: 6;
          grid-column-end: span 6;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      max-width: 50%;
    }
    .column-md-7 {
      -ms-grid-column: span 7;
          grid-column-start: span 7;
      -ms-grid-column-span: 7;
          grid-column-end: span 7;
      -ms-flex-preferred-size: 58.3333333333%;
          flex-basis: 58.3333333333%;
      max-width: 58.3333333333%;
    }
    .column-md-8 {
      -ms-grid-column: span 8;
          grid-column-start: span 8;
      -ms-grid-column-span: 8;
          grid-column-end: span 8;
      -ms-flex-preferred-size: 66.6666666667%;
          flex-basis: 66.6666666667%;
      max-width: 66.6666666667%;
    }
    .column-md-9 {
      -ms-grid-column: span 9;
          grid-column-start: span 9;
      -ms-grid-column-span: 9;
          grid-column-end: span 9;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
      max-width: 75%;
    }
    .column-md-10 {
      -ms-grid-column: span 10;
          grid-column-start: span 10;
      -ms-grid-column-span: 10;
          grid-column-end: span 10;
      -ms-flex-preferred-size: 83.3333333333%;
          flex-basis: 83.3333333333%;
      max-width: 83.3333333333%;
    }
    .column-md-11 {
      -ms-grid-column: span 11;
          grid-column-start: span 11;
      -ms-grid-column-span: 11;
          grid-column-end: span 11;
      -ms-flex-preferred-size: 91.6666666667%;
          flex-basis: 91.6666666667%;
      max-width: 91.6666666667%;
    }
    .column-md-12 {
      -ms-grid-column: span 12;
          grid-column-start: span 12;
      -ms-grid-column-span: 12;
          grid-column-end: span 12;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      max-width: 100%;
    }
  }
}

form {
  padding-top: 3rem;
}

.form {
  padding-top: 3rem;
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

input {
  width: 100%;
  padding: 12px;
  border: solid 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.downloadTab {
  opacity: 0;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.downloadTitle {
  font-size: 2rem;
}

.downloadBtn {
  margin-top: 2rem;
  font-size: 1.3rem;
  padding: 0 0.5rem;
  color: black;
}

#loginbtn {
  margin-top: 1.5rem;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10;
  -webkit-animation: lightboxIn 0.5s;
          animation: lightboxIn 0.5s;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.lightbox.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lightbox_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
}

.lightbox_container img {
  max-height: 100%;
  max-width: 100%;
}

.lightbox_next,
.lightbox_prev {
  position: fixed;
  top: 50%;
  right: 2rem;
  background: url(icons/caret-right-solid.svg) center center/100% 100%;
  width: 50px;
  height: 50px;
  border: none;
  z-index: 11;
  opacity: 0.5;
  text-indent: -3000px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.lightbox_next:focus,
.lightbox_prev:focus {
  outline: none;
}

.lightbox_next:hover,
.lightbox_prev:hover {
  opacity: 1;
}

.lightbox_prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  left: 2rem;
  right: auto;
}

@-webkit-keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.noscroll {
  overflow-y: hidden;
  padding-right: 10px;
}

.dark_mode_btn {
  background-color: #3e3e3e;
  color: white;
}

.light_mode_btn {
  background-color: #f7f7f7;
  color: black;
}

.dark_mode_body {
  background-color: #171717;
}

.dark_mode_nav .title {
  color: #e4e4e4;
}

.dark_mode_nav li a {
  color: #dbdbdb !important;
}

.dark_mode_nav .active {
  color: #fff !important;
}

.dark-mode-quote {
  color: #e4e4e4;
}

.dark-mode-quote .format-dream {
  -webkit-text-decoration-color: #bbbbbb;
          text-decoration-color: #bbbbbb;
}

.dark-mode-footer {
  background-color: #101010;
  color: white;
}

.dark-mode-footer ul a:hover {
  color: white;
}

.dark-mode-scrollUpBtn {
  background-color: #9a9a9a;
}

.dark-mode-scrollUpBtn:hover {
  background-color: #ebebeb;
  text-shadow: unset !important;
}

.page404 {
  height: 100vh;
  background-image: url(icons/not_found_404.gif);
  background-size: cover;
  background-position: 50%;
}

.gradient {
  width: 100%;
  height: 100%;
  position: fixed;
  background: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.8)), color-stop(40%, rgba(0, 0, 0, 0.5)), color-stop(70%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.8));
}

.logo404 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 30px;
  color: white;
  opacity: 0.7;
  z-index: 3;
}

.logo404:hover {
  opacity: 1;
}

.centerpage {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 0 3rem 5rem 3rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.centerpage h1 {
  font-size: 6rem;
  color: white;
}

.centerpage p {
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 3rem;
  color: white;
}

.centerpage a {
  padding: 0.5rem 1rem;
  background-color: #e0e0e0;
}

.centerpage a:hover {
  background-color: white;
}

.order3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.dream-container {
  border-top: 1px solid rgba(187, 187, 187, 0.315);
  margin-top: 3em;
}

.dream-text {
  font-style: italic;
  padding-top: 1em;
}

.format-dream {
  font-weight: unset;
  text-decoration: underline;
  -webkit-text-decoration-color: #bbbbbb;
          text-decoration-color: #bbbbbb;
}

.dream-author {
  padding-top: 0.5em;
}
/*# sourceMappingURL=styles.css.map */